:root {
  --color-primary: #1ea0ff;
  --color-primary-dark: #0f172a;

  --color-text: #111827;
  --color-text-light: #6b7280;

  --color-background: #f8fafc;
  --color-border: #dce7f3;

  --container-width: 1200px;

  --transition-default: 0.25s ease;
}